Nana: Game Logic and Board representation
- core game mechanics
- design data structure 
- win condition checking etc
Additional requirements
  - Command Line optiona 
  - save game 
  - SGF File Format (Hard)
  - Network play

Julia: Graphic & UI
- Visual representation for game
- User input & mose input
- Mapping mouse to screen
- Visual feedback etc
Additional requirements
  - Birmap omages for game 
  - options menu
  - Undo 
  - Display hints
  - Pause 
  - Scale the game with window size (or fix window size if we run out of time)

Donald: AI 
- Implemment AI 
- Game tree for predicitons 
Additional requirements
  - Time Limits for moves 
  - Pente Renju...?
  - Multi AI Skills (Hard) - maybe 
  - Network Play ( Hard) - Probably not 

